{% extends "front-layout.twig" %}

{% block content %}
<h1>Supprimer une catégorie</h1>
<form action="" method="post">
    <div class="alert alert-danger">
        <span>Supprimer la catégorie <strong>{{ entity.name }}</strong> ?</span>
    </div>

    <button type="submit" class="btn btn-danger">Oui</button>
    <a href="{{ path('category_index') }}" class="btn btn-success">Non</a>

    {# Génération d'un token pour plus de sécurité #}
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ entity.id) }}">
</form>
{% endblock %}