{% extends "front-layout.twig" %}

{% block content %}

    <h2>Edition d'une pizza</h2>
    {% embed "decorator/_formCat.html.twig" %}
        {% block formBody %}
            {{form_widget(form.name)}}
        {% endblock %}
    {% endembed %}

{% endblock %}