$primary:       #b8b5b5;
$secondary:     #FB5607;
$success:       #3A86FF;
$info:          #FF006E;
$light:         #19171c1e;


#pizza-icon {
    color: rgb(213, 120, 40);
}

#carousel {
    margin: 0 auto;
}